useDynLib(h5r)

## Export everything lacking a leading .
exportPattern("^[^\\.]")

exportClasses(H5Obj,
              H5File,
              H5Group,
              H5Dataset,
              H5Attribute,
              H5DataContainer,
              H5Container)

importMethodsFrom(methods, show)

exportMethods(getH5Group,
              getH5Dim,
              getH5Type,
              getH5Dataset,
              getH5Attribute,
              createH5Group,
              createH5Attribute,
              writeH5Data,
              deleteH5Obj,
              deleteH5Attribute,
              readH5Data,
              show,
              ncol,
              nrow)
